*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
body{

    background-color: #080808;
    color: #fff;
}
#header{

    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    
}
.container{
    padding: 10px 10%;
}
.container nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{

    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
    font-size: 18px;
}
nav ul li a::after{

    content: '';
     width: 0;
    position: absolute;
    height: 2px;
    background-color: #ff004f;
    left: 0;
    bottom: -4px;
    transition: 0.5s;

}
nav ul li a:hover::after{

    width: 100%;
}
.header-text{
   
    margin: 10% 10%;
    
}
.header-text h1{

    font-size: 4vw;
    margin-top: 20px;
}
.header-text p{
    font-size: 2vw;
}
span{
    color: #ff004f;
}
#about{
    padding: 80px 0;
    background-color: #080808;
}
#about .row{

    display: flex;
    justify-content: space-between;
    color: #ababab;
}
.row .about-col-1{

    flex-basis: 35%;
}
.row .about-col-2{

    flex-basis:60%;
}
#about img{

    width: 100%;
    border-radius: 15px;
}
.subtitle{

    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{

    display: flex;
    margin: 20px 0 40px;
}
.tab-links{

    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{

    content: '';
    height: 3px;
    background-color: #ff004f;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
    position: absolute;

}
.tab-links:hover::after{

    width: 100%;
}
.tab-contents ul li{

    list-style-type: none;
}
.tab-contents ul li span{

    font-size: 14px;
    color: #b54769;
}
.tab-contents{

    display: none;
}
.tab-contents.active-tab{

    display: block;
}